.flex-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.body-wrapper {
  padding-top: 120px;
  padding-bottom: 40px;
}

.square-img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  @media (min-width: $break-m) {
    max-width: 90%;
  }
}
