.chip {
  display: block;
  margin: 0 auto;
  width: em(80px);
  height: em(80px);
  border-radius: 100%;
  background-color: rgba($color-secondary,0.75);
  border: none;
  position: relative;
  top: -41px;
  cursor: pointer;
  @media (min-width: $break-l) {
    float: right;
    top: -93px;
  }
  &:hover {
    background-color: $accent-light;
  }
}
