.material-icons {
  font-size: em(48px);
}

.blurb-icons {
  font-size: em(24px);
  color: $color-secondary;
  padding-right: em(8px);
  position: relative;
  bottom: -6px;
}

.to-the-top i {
  position: relative;
  top: 14px;
  left: 15px;
}
