.nav-logo {
  @include logo($t-align: left, $font-size: 20px);
  display: inline-block;
}

.footer-logo {
  @include logo ($font-size: 40px);
  position: relative;
  bottom: 0.5em;
  @media (min-width: $break-l) {
    text-align: left;
    margin-top: 1em;
  }
}

.UX {
  color: $color-secondary;
}

.footer-tagline {
  @include tagline(center);
  position: relative;
  bottom: 1.5em;
  @media (min-width: $break-l) {
    text-align: left;
    margin-left: 1px;
  }
}
