// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  color: $white;
}

body {
  font-size: $base__font-size;
	line-height: ($base__line/$base__font-size);
	font-family: $font-family--secondary;
  background-color: $color-primary;
	padding-top: 100px;
}

a {
  color: $color-secondary;
  text-decoration: underline;
	&:hover {
		color: $accent-light;
		text-decoration: none;
		transition: 0.5s;
	}
}

.no-a-styles {
	text-decoration: none;
}

.wrapper {
	padding: 0 10px;
	margin: 0 auto;
	max-width: 665px;
}

.ext-wrapper {
  margin: 0 auto;
  padding: 0 10px;
	@media (min-width: $break-m) {
		padding: 0 20px;
		max-width: 984px;
	}
	@media (min-width: $break-l) {
		padding: 0 30px;
		max-width: 964px;
	}
}
