// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  color: $white;
}

body {
  font-size: $base__font-size;
	line-height: ($base__line/$base__font-size);
	font-family: $font-family--secondary;
  background-color: $color-primary;
}

a {
  color: $color-secondary;
  text-decoration: underline;
	&:hover {
		color: $accent-light;
		text-decoration: none;
		transition: 0.5s;
	}
}

.no-a-styles {
	text-decoration: none;
}

p {
  color: $white;
  font-family: $font-family--secondary;
}

.wrapper {
	padding: 0 10px;
	margin: 0 auto;
	max-width: 1024px;
  @media (min-width: $break-m) {
		width: 90%;
	  margin: 0 auto;
		padding: 0;
	}
}
